<!--footer>
    <div class="nombre-proyecto">
        <p class="texto-nombre">Proyecto SENA / Invensus Storage 2024</p>
    </div>
    <div class="redes-caja">
        <p class="frase">Nuestras redes sociales:</p>
        <div class="redes-link">
            <a href="#" class="link">Facebook</a>
        </div>
        <div class="redes-link">
            <a href="#" class="link">Instagram</a>
        </div>
        <div class="redes-link">
            <a href="#" class="link">Twitter</a>
        </div>
    </div>
    <div class="reseñas-caja">
        <p class="frase">Nuestras reseñas en la web:</p>
        <div class="reseña-link">
            <a href="#" class="link">Tripadvisor</a>
        </div>
        <div class="reseña-link">
            <a href="#" class="link">Degusta</a>
        </div>
        <div class="reseña-link">
            <a href="#" class="link">Restaurant Guru</a>
        </div>
    </div>
</!--footer-->
