

  <link href="vista-personal.component.css" rel="stylesheet" />



<body>
  <section class="work_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h3 class="">Bienvenido Personal</h3>
      </div>
    </div>

    <div class="work_container">
      <div class="box b-1">
        <div class="img-box">
          <img src="https://img.freepik.com/vector-premium/personajes-personal-restaurante-incluye-chef-asistentes-gerente-camarera_48866-392.jpg" alt="">
        </div>
        <div class="name">
          <h6>Explora el rendimiento eficiente de nuestro sistema de inventario.</h6>
        </div>
      </div>

      <div class="box b-2">
        <div class="img-box">
          <img src="https://img.freepik.com/vector-premium/comer-personajes-personas-personal-restaurante_82574-8799.jpg" alt="">
        </div>
        <div class="name">
          <h6>Te damos la bienvenida ala excelencia en gestion de stock.</h6>
        </div>
      </div>

      <div class="box b-3">
        <div class="img-box">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHD3fQUhKpe5QQfmMYaeTtTgkLRwWeaVOHdw&usqp=CAU" alt="">
        </div>
        <div class="name">
          <h6>Descubra la agilidad logistica que manejamos para nuestro menu.</h6>
        </div>
      </div>

      <div class="box b-4">
        <div class="img-box">
          <img src="https://lh3.googleusercontent.com/proxy/FzDvDKameol7V3PU5FePD5V4SYHCznx9ilrcqhVOTGFp2dAgQrwW4-4V3eXt0uU0qJ_oEGnJRbXam-lX7QgjRi9PPtIcZU3HvGVf99AXBmHdweWueXaBJzVTVYSYNylXoerz3T0md3rPlY8JvzORK65Vy4AEnH7K7y3ITM59LO8DdeU" alt="">
        </div>
        <div class="name">
          <h6>Conoce la eficencia en el manejo de las diversas preparaciones que tenemos en nuestro restaurante </h6>
        </div>
      </div>
    </div>

    <div class="new-btn-box">
      <a [routerLink]="['/productos-personal']">Desarrollar Acciones</a>
    </div>
  </section>
</body>

