
<link href="vista-dueno.component.css" rel="stylesheet" />
<body>
  <div class="clearfix"> </div>
  <div class="slide-text text-center">
    <h1>Bienvenido Gerente</h1>
    <span></span>
    <a class="slide-btn" [routerLink]="['/categorias-dueno']">DESARROLLAR ACCIONES</a>
  </div>

  <div class="stage">
    <div class="table"></div>
    <div class="pc"></div>
    <div class="cup"></div>
    <div class="cup-cover"></div>
    <div class="clock">
      <div class="marker-top"></div>
      <div class="marker-right"></div>
      <div class="marker-bottom"></div>
      <div class="marker-left"></div>
      <div class="pointer-min"></div>
      <div class="pointer-hour"></div>
      <div class="pointer"></div>
    </div>
    <div class="guy">
      <div class="hat">
        <div class="hat-hair"></div>
        <div class="hat-close"></div>
      </div>
      <div class="hair-left"></div>
      <div class="hair-middle"></div>
      <div class="hair-right"></div>
      <div class="ear-left"></div>
      <div class="ear-right"></div>
      <div class="face">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="nose"></div>
        <div class="mouth"></div>
      </div>
      <div class="neck"></div>
      <div class="body"></div>
    </div>
  </div>

  <div class="bottom-messages">
    <p>Descubre las posibilidades emocionantes al dirigir el restaurante con nuestra innovadora solución de gestión.</p>
    <p>Optimiza tus operaciones y mantén el control del negocio con facilidad.</p>
    <p>¡Disfruta de la experiencia y mejora la eficiencia del restaurante!</p>
  </div>

</body>

