<app-menuu></app-menuu>
<app-imagenlogo></app-imagenlogo>
<div class="caja-agregar">
    <a [routerLink]="['/sucursal3/agregar']" class="boton-agregar">agregar</a>
    <a [routerLink]="['/registros-sucursal3']" class="boton-agregar">registros</a>
    <a [routerLink]="['/llegadas-sucursal3']" class="boton-agregar">Llegadas Sucursal</a>
</div>
<div class="contenido-tabla">
    <table border="rgb(0,0,0) solid 1px">
        <thead>
            <tr class="tabla-titulo">
                <th>nombre producto</th>
                <th>cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tabla-item" *ngFor="let sucursal of sucursal | async">
                <td><i>{{ sucursal.prod_nombre }}</i></td>
                <td><i>{{ sucursal.cantidad_producto }}</i></td>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>