<app-menu-dueno></app-menu-dueno>
<app-imagenlogo></app-imagenlogo>
<div class="contenido-tabla">
    <table border="rgb(0,0,0) solid 1px">
        <thead>
            <tr class="tabla-titulo">
                <th>nombre producto</th>
                <th>cantidad</th>
                <!--th>Acciones</th-->
            </tr>
        </thead>
        <tbody>
            <tr class="tabla-item" *ngFor="let llegadas1 of llegadas1 | async">
                <td><i>{{ obtenerNombreProducto(llegadas1.idproducto) }}</i></td>
                <td><i>{{ llegadas1.cantidad_llegada }}</i></td>
                <!--td>
                    <a [routerLink]="['/sucursal2/editar/', sucursal.idsucursal]" class="link-editar">Agregar</a>
                </td-->
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>
