<nav>
    <div class="lista-menu">
        <ul class="menu">
            <li class="item-menu" [routerLink]="['/vista-personal']">Pagina Principal</li>
            <li class="item-menu" [routerLink]="['/platos-personal']">Platos</li>
            <li class="item-menu" [routerLink]="['/proplato']">Productos de platos - ventas</li>
            <!--li class="item-menu" [routerLink]="['/productos-personal']">Productos</li-->
            <li class="item-menu" [routerLink]="['/alertas-personal']">Alertas</li>
            <li (click)="logout()" class="item-menu">Cerrar Sesion</li>
        </ul>
    </div>
</nav>