<nav>
    <div class="lista-menu">
        <ul class="menu">
            <li class="item-menu" [routerLink]="['/vista-bodeguero']">Vista Bodeguero</li>
            <li class="item-menu" [routerLink]="['/listar-categorias-bodeguero']">Categorias</li>
            <li class="item-menu" [routerLink]="['/listar-subcategorias-bodeguero']">Subcategorias</li>
            <li class="item-menu" [routerLink]="['/listar-productos-bodeguero']">Productos</li>
            <li class="item-menu" [routerLink]="['/alertas-bodeguero']">Alertas</li>
            <li class="item-menu" [routerLink]="['/listar-proveedores-bodeguero']">Proveedores</li>
            <li class="item-menu" [routerLink]="['/sucursal1-bodeguero']">Sucursal 1</li>
            <li class="item-menu" [routerLink]="['/sucursal2-bodeguero']">Sucursal 2</li>
            <li class="item-menu" [routerLink]="['/sucursal3-bodeguero']">Sucursal 3</li>
            <li class="item-menu" [routerLink]="['/codigoqrbodeguero']">Codigo QR</li>
            <li (click)="logout()" class="item-menu">Cerrar Sesion</li>
        </ul>
    </div>
</nav>
